extends index

block append content
	br
	br
	div#login-container
		br
		h3 login
		form#login-form(action='/login' method='post')
			if error
				h6#incorrect-password Incorrect username or password!
			h6 Username
			div(class='row')
				input(type='text', name='username')
			h6 Password
			div(class='row')
				input(type='password', name='password')
			br
			div(class='row')
				button(class='btn-primary', type='submit') Login!
		h6 Don't have an account?
		a(href='/register') Register
